<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_xi2A8A-FEeu34_dgiymI_Q" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;in event beginRecipe&#xA;in event next&#xA;in event finRecette&#xA;&#xA;out event etape1&#xA;out event etape2&#xA;out event etape3&#xA;out event etape4&#xA;out event etape5&#xA;out event enAttente&#xA;out event increaseProgressBar&#xA;&#xA;var increaseTime: integer = 0&#xA;var timeStep1: integer = 0&#xA;var timeStep2: integer = 0&#xA;var timeStep3: integer = 0&#xA;var timeStep4: integer = 0&#xA;var timeStep5: integer = 0&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="recette">
    <regions xmi:id="_xi3PEw-FEeu34_dgiymI_Q" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_xi6SYQ-FEeu34_dgiymI_Q">
        <outgoingTransitions xmi:id="_xi98wA-FEeu34_dgiymI_Q" target="_xi7ghA-FEeu34_dgiymI_Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xi7ghA-FEeu34_dgiymI_Q" specification="" name="beginningReciep" incomingTransitions="_xi98wA-FEeu34_dgiymI_Q _Ink50Bg3Eeu2RZCF_j8Yqg">
        <outgoingTransitions xmi:id="_5m8MMBg2Eeu2RZCF_j8Yqg" specification="beginRecipe" target="_fKh-0Bg2Eeu2RZCF_j8Yqg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fKh-0Bg2Eeu2RZCF_j8Yqg" specification="" name="PrepareDrink" incomingTransitions="_5m8MMBg2Eeu2RZCF_j8Yqg">
        <regions xmi:id="_iafTsBg2Eeu2RZCF_j8Yqg">
          <vertices xsi:type="sgraph:State" xmi:id="_mICjgBg2Eeu2RZCF_j8Yqg" specification="entry/raise etape1" name="Step1" incomingTransitions="_m2-tIBg2Eeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_3oqhoBg2Eeu2RZCF_j8Yqg" specification="after timeStep1 ms" target="_yJHIsBg2Eeu2RZCF_j8Yqg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_mbd10Bg2Eeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_m2-tIBg2Eeu2RZCF_j8Yqg" specification="" target="_mICjgBg2Eeu2RZCF_j8Yqg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_yJHIsBg2Eeu2RZCF_j8Yqg" specification="entry/raise etape2" name="Step2" incomingTransitions="_3oqhoBg2Eeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_HIklMBg3Eeu2RZCF_j8Yqg" specification="after timeStep2 ms" target="_EYfDMBg3Eeu2RZCF_j8Yqg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_EYfDMBg3Eeu2RZCF_j8Yqg" specification="entry/raise etape3" name="Step3" incomingTransitions="_HIklMBg3Eeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_Q6VOoBhBEeu2RZCF_j8Yqg" specification="after timeStep3 ms" target="_K1Hj4BhBEeu2RZCF_j8Yqg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_K1Hj4BhBEeu2RZCF_j8Yqg" specification="entry/raise etape4" name="Step4" incomingTransitions="_Q6VOoBhBEeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_SkitsBhBEeu2RZCF_j8Yqg" specification="after timeStep4 ms" target="_NmuI0BhBEeu2RZCF_j8Yqg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_NmuI0BhBEeu2RZCF_j8Yqg" specification="entry/raise etape5" name="Stape5" incomingTransitions="_SkitsBhBEeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_Ink50Bg3Eeu2RZCF_j8Yqg" specification="after timeStep5 ms/raise enAttente" target="_xi7ghA-FEeu34_dgiymI_Q"/>
          </vertices>
        </regions>
        <regions xmi:id="_kycCgBg2Eeu2RZCF_j8Yqg">
          <vertices xsi:type="sgraph:Entry" xmi:id="_Le2o8Bg3Eeu2RZCF_j8Yqg">
            <outgoingTransitions xmi:id="_PcCQMBg3Eeu2RZCF_j8Yqg" specification="" target="_L8YScBg3Eeu2RZCF_j8Yqg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_L8YScBg3Eeu2RZCF_j8Yqg" specification="every increaseTime ms/ raise increaseProgressBar" name="IncreaseProgressBar" incomingTransitions="_PcCQMBg3Eeu2RZCF_j8Yqg"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_xi3PEA-FEeu34_dgiymI_Q" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_xi2A8A-FEeu34_dgiymI_Q" measurementUnit="Pixel">
    <children xmi:id="_xi5EQA-FEeu34_dgiymI_Q" type="Region" element="_xi3PEw-FEeu34_dgiymI_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_xi5rUA-FEeu34_dgiymI_Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xi5rUQ-FEeu34_dgiymI_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xi5rUg-FEeu34_dgiymI_Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_xi5rUw-FEeu34_dgiymI_Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_xi65cA-FEeu34_dgiymI_Q" type="Entry" element="_xi6SYQ-FEeu34_dgiymI_Q">
          <children xmi:id="_xi65dA-FEeu34_dgiymI_Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_xi7ggA-FEeu34_dgiymI_Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_xi7ggQ-FEeu34_dgiymI_Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_xi7ggg-FEeu34_dgiymI_Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xi65dQ-FEeu34_dgiymI_Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi65dg-FEeu34_dgiymI_Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xi65cQ-FEeu34_dgiymI_Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_xi65cg-FEeu34_dgiymI_Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi7ggw-FEeu34_dgiymI_Q" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_xi8HkA-FEeu34_dgiymI_Q" type="State" element="_xi7ghA-FEeu34_dgiymI_Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_xi8HlA-FEeu34_dgiymI_Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xi8HlQ-FEeu34_dgiymI_Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xi8Hlg-FEeu34_dgiymI_Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xi8uoA-FEeu34_dgiymI_Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xi8uoQ-FEeu34_dgiymI_Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi8uog-FEeu34_dgiymI_Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xi9VsA-FEeu34_dgiymI_Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xi8HkQ-FEeu34_dgiymI_Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xi8Hkg-FEeu34_dgiymI_Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xi9VsQ-FEeu34_dgiymI_Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi9Vsg-FEeu34_dgiymI_Q" x="40" y="80" width="122" height="53"/>
        </children>
        <children xmi:id="_fKlCIBg2Eeu2RZCF_j8Yqg" type="State" element="_fKh-0Bg2Eeu2RZCF_j8Yqg">
          <children xsi:type="notation:DecorationNode" xmi:id="_fKmQQBg2Eeu2RZCF_j8Yqg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fKmQQRg2Eeu2RZCF_j8Yqg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fKm3UBg2Eeu2RZCF_j8Yqg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fKm3URg2Eeu2RZCF_j8Yqg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fKneYBg2Eeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fKneYRg2Eeu2RZCF_j8Yqg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fKoFcBg2Eeu2RZCF_j8Yqg" type="StateFigureCompartment">
            <children xmi:id="_iaf6wBg2Eeu2RZCF_j8Yqg" type="Region" element="_iafTsBg2Eeu2RZCF_j8Yqg">
              <children xsi:type="notation:DecorationNode" xmi:id="_iagh0Bg2Eeu2RZCF_j8Yqg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_iagh0Rg2Eeu2RZCF_j8Yqg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_iahI4Bg2Eeu2RZCF_j8Yqg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_iahI4Rg2Eeu2RZCF_j8Yqg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_mIDxoBg2Eeu2RZCF_j8Yqg" type="State" element="_mICjgBg2Eeu2RZCF_j8Yqg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mIEYsBg2Eeu2RZCF_j8Yqg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mIEYsRg2Eeu2RZCF_j8Yqg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mIEYshg2Eeu2RZCF_j8Yqg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mIEYsxg2Eeu2RZCF_j8Yqg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mIEYtBg2Eeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mIEYtRg2Eeu2RZCF_j8Yqg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mIFm0Bg2Eeu2RZCF_j8Yqg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mIDxoRg2Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_mIDxohg2Eeu2RZCF_j8Yqg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mIFm0Rg2Eeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mIDxoxg2Eeu2RZCF_j8Yqg" x="181" width="146" height="53"/>
                </children>
                <children xmi:id="_mbfrABg2Eeu2RZCF_j8Yqg" type="Entry" element="_mbd10Bg2Eeu2RZCF_j8Yqg">
                  <children xmi:id="_mbgSEBg2Eeu2RZCF_j8Yqg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_mbg5IBg2Eeu2RZCF_j8Yqg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_mbg5IRg2Eeu2RZCF_j8Yqg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_mbg5Ihg2Eeu2RZCF_j8Yqg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mbgSERg2Eeu2RZCF_j8Yqg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mbgSEhg2Eeu2RZCF_j8Yqg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mbfrARg2Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_mbfrAhg2Eeu2RZCF_j8Yqg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mbfrAxg2Eeu2RZCF_j8Yqg" x="53" y="-2"/>
                </children>
                <children xmi:id="_yJIW0Bg2Eeu2RZCF_j8Yqg" type="State" element="_yJHIsBg2Eeu2RZCF_j8Yqg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_yJI94Bg2Eeu2RZCF_j8Yqg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_yJI94Rg2Eeu2RZCF_j8Yqg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_yJI94hg2Eeu2RZCF_j8Yqg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_yJI94xg2Eeu2RZCF_j8Yqg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_yJJk8Bg2Eeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yJJk8Rg2Eeu2RZCF_j8Yqg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_yJJk8hg2Eeu2RZCF_j8Yqg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_yJIW0Rg2Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_yJIW0hg2Eeu2RZCF_j8Yqg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yJJk8xg2Eeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yJIW0xg2Eeu2RZCF_j8Yqg" x="415" y="5" width="146" height="53"/>
                </children>
                <children xmi:id="_EYgRUBg3Eeu2RZCF_j8Yqg" type="State" element="_EYfDMBg3Eeu2RZCF_j8Yqg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_EYgRVBg3Eeu2RZCF_j8Yqg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_EYgRVRg3Eeu2RZCF_j8Yqg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_EYgRVhg3Eeu2RZCF_j8Yqg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_EYgRVxg3Eeu2RZCF_j8Yqg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_EYgRWBg3Eeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EYgRWRg3Eeu2RZCF_j8Yqg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_EYg4YBg3Eeu2RZCF_j8Yqg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_EYgRURg3Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_EYgRUhg3Eeu2RZCF_j8Yqg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EYg4YRg3Eeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EYgRUxg3Eeu2RZCF_j8Yqg" x="397" y="107" width="146" height="53"/>
                </children>
                <children xmi:id="_K1IyABhBEeu2RZCF_j8Yqg" type="State" element="_K1Hj4BhBEeu2RZCF_j8Yqg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_K1JZEBhBEeu2RZCF_j8Yqg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_K1JZERhBEeu2RZCF_j8Yqg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_K1JZEhhBEeu2RZCF_j8Yqg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_K1JZExhBEeu2RZCF_j8Yqg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_K1JZFBhBEeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1JZFRhBEeu2RZCF_j8Yqg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_K1JZFhhBEeu2RZCF_j8Yqg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_K1IyARhBEeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_K1IyAhhBEeu2RZCF_j8Yqg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K1JZFxhBEeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K1IyAxhBEeu2RZCF_j8Yqg" x="169" y="125" width="146" height="53"/>
                </children>
                <children xmi:id="_NmvW8BhBEeu2RZCF_j8Yqg" type="State" element="_NmuI0BhBEeu2RZCF_j8Yqg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_NmvW9BhBEeu2RZCF_j8Yqg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_NmvW9RhBEeu2RZCF_j8Yqg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_NmvW9hhBEeu2RZCF_j8Yqg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_NmvW9xhBEeu2RZCF_j8Yqg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Nmv-ABhBEeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Nmv-ARhBEeu2RZCF_j8Yqg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Nmv-AhhBEeu2RZCF_j8Yqg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_NmvW8RhBEeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_NmvW8hhBEeu2RZCF_j8Yqg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Nmv-AxhBEeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NmvW8xhBEeu2RZCF_j8Yqg" x="175" y="257" width="146" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iahI4hg2Eeu2RZCF_j8Yqg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_iaf6wRg2Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iaf6whg2Eeu2RZCF_j8Yqg"/>
            </children>
            <children xmi:id="_kydQoBg2Eeu2RZCF_j8Yqg" type="Region" element="_kycCgBg2Eeu2RZCF_j8Yqg">
              <children xsi:type="notation:DecorationNode" xmi:id="_kyd3sBg2Eeu2RZCF_j8Yqg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_kyd3sRg2Eeu2RZCF_j8Yqg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_kyd3shg2Eeu2RZCF_j8Yqg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_kyd3sxg2Eeu2RZCF_j8Yqg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Le3QABg3Eeu2RZCF_j8Yqg" type="Entry" element="_Le2o8Bg3Eeu2RZCF_j8Yqg">
                  <children xmi:id="_Le3QBBg3Eeu2RZCF_j8Yqg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Le3QBxg3Eeu2RZCF_j8Yqg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Le3QCBg3Eeu2RZCF_j8Yqg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Le33EBg3Eeu2RZCF_j8Yqg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Le3QBRg3Eeu2RZCF_j8Yqg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Le3QBhg3Eeu2RZCF_j8Yqg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Le3QARg3Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Le3QAhg3Eeu2RZCF_j8Yqg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Le3QAxg3Eeu2RZCF_j8Yqg" x="336" y="11" width="15" height="15"/>
                </children>
                <children xmi:id="_L8Y5gBg3Eeu2RZCF_j8Yqg" type="State" element="_L8YScBg3Eeu2RZCF_j8Yqg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_L8Y5hBg3Eeu2RZCF_j8Yqg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_L8Y5hRg3Eeu2RZCF_j8Yqg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_L8Y5hhg3Eeu2RZCF_j8Yqg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_L8Y5hxg3Eeu2RZCF_j8Yqg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_L8Y5iBg3Eeu2RZCF_j8Yqg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L8Y5iRg3Eeu2RZCF_j8Yqg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_L8ZgkBg3Eeu2RZCF_j8Yqg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_L8Y5gRg3Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_L8Y5ghg3Eeu2RZCF_j8Yqg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_L8ZgkRg3Eeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_L8Y5gxg3Eeu2RZCF_j8Yqg" x="322" y="149" width="346" height="79"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kyd3tBg2Eeu2RZCF_j8Yqg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_kydQoRg2Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kydQohg2Eeu2RZCF_j8Yqg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fKlCIRg2Eeu2RZCF_j8Yqg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fKlCIhg2Eeu2RZCF_j8Yqg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fKoFcRg2Eeu2RZCF_j8Yqg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fKlCIxg2Eeu2RZCF_j8Yqg" x="211" y="58" width="1303" height="444"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi5rVA-FEeu34_dgiymI_Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_xi5EQQ-FEeu34_dgiymI_Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi6SYA-FEeu34_dgiymI_Q" x="96" y="10" width="1556" height="633"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_xi_K4A-FEeu34_dgiymI_Q" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_xi_K4g-FEeu34_dgiymI_Q" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xi_K4w-FEeu34_dgiymI_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xi_K5A-FEeu34_dgiymI_Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_xi_x8A-FEeu34_dgiymI_Q" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi_x8Q-FEeu34_dgiymI_Q"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xi_x8g-FEeu34_dgiymI_Q" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xi3PEQ-FEeu34_dgiymI_Q" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_xi3PEg-FEeu34_dgiymI_Q"/>
    <edges xmi:id="_xi98wQ-FEeu34_dgiymI_Q" type="Transition" element="_xi98wA-FEeu34_dgiymI_Q" source="_xi65cA-FEeu34_dgiymI_Q" target="_xi8HkA-FEeu34_dgiymI_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_xi-j0Q-FEeu34_dgiymI_Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xi-j0g-FEeu34_dgiymI_Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xi-j0w-FEeu34_dgiymI_Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xi98wg-FEeu34_dgiymI_Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xi-j0A-FEeu34_dgiymI_Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xi98ww-FEeu34_dgiymI_Q" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_m3BJYBg2Eeu2RZCF_j8Yqg" type="Transition" element="_m2-tIBg2Eeu2RZCF_j8Yqg" source="_mbfrABg2Eeu2RZCF_j8Yqg" target="_mIDxoBg2Eeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_m3BwcRg2Eeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_m3Bwchg2Eeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_m3Bwcxg2Eeu2RZCF_j8Yqg" x="35" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_m3BJYRg2Eeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_m3BwcBg2Eeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_m3BJYhg2Eeu2RZCF_j8Yqg" points="[1, 3, -142, 2]$[116, 3, -27, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_m3Fa0Bg2Eeu2RZCF_j8Yqg" id="(0.8,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_m3Fa0Rg2Eeu2RZCF_j8Yqg" id="(0.18571428571428572,0.07547169811320754)"/>
    </edges>
    <edges xmi:id="_3orvwBg2Eeu2RZCF_j8Yqg" type="Transition" element="_3oqhoBg2Eeu2RZCF_j8Yqg" source="_mIDxoBg2Eeu2RZCF_j8Yqg" target="_yJIW0Bg2Eeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3osW0Rg2Eeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3osW0hg2Eeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3osW0xg2Eeu2RZCF_j8Yqg" x="6" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3orvwRg2Eeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3osW0Bg2Eeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3orvwhg2Eeu2RZCF_j8Yqg" points="[79, -21, -117, -4]$[167, -21, -29, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3ovaIBg2Eeu2RZCF_j8Yqg" id="(0.4589041095890411,0.9433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3ovaIRg2Eeu2RZCF_j8Yqg" id="(0.19863013698630136,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_5m8zQBg2Eeu2RZCF_j8Yqg" type="Transition" element="_5m8MMBg2Eeu2RZCF_j8Yqg" source="_xi8HkA-FEeu34_dgiymI_Q" target="_fKlCIBg2Eeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5m9aUBg2Eeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5m9aURg2Eeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5m9aUhg2Eeu2RZCF_j8Yqg" x="8" y="56"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5m8zQRg2Eeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5m8zQxg2Eeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5m8zQhg2Eeu2RZCF_j8Yqg" points="[9, -9, -53, 0]$[58, -9, -4, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5m_2kBg2Eeu2RZCF_j8Yqg" id="(0.9313725490196079,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5m_2kRg2Eeu2RZCF_j8Yqg" id="(0.0036188178528347406,0.09655172413793103)"/>
    </edges>
    <edges xmi:id="_HIlMQBg3Eeu2RZCF_j8Yqg" type="Transition" element="_HIklMBg3Eeu2RZCF_j8Yqg" source="_yJIW0Bg2Eeu2RZCF_j8Yqg" target="_EYgRUBg3Eeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_HIlzURg3Eeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HIlzUhg3Eeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HIlzUxg3Eeu2RZCF_j8Yqg" x="87" y="-49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HIlMQRg3Eeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HIlzUBg3Eeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HIlMQhg3Eeu2RZCF_j8Yqg" points="[-64, 6, -16, -55]$[-64, 55, -16, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HInogBg3Eeu2RZCF_j8Yqg" id="(0.5068493150684932,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HInogRg3Eeu2RZCF_j8Yqg" id="(0.3013698630136986,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_Inlg4Bg3Eeu2RZCF_j8Yqg" type="Transition" element="_Ink50Bg3Eeu2RZCF_j8Yqg" source="_NmvW8BhBEeu2RZCF_j8Yqg" target="_xi8HkA-FEeu34_dgiymI_Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_InmH8Rg3Eeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_InmH8hg3Eeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_InmH8xg3Eeu2RZCF_j8Yqg" x="-42" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Inlg4Rg3Eeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_InmH8Bg3Eeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Inlg4hg3Eeu2RZCF_j8Yqg" points="[24, 1, 394, 316]$[24, 132, 394, 447]$[-333, 132, 37, 447]$[-333, -303, 37, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Inn9IBg3Eeu2RZCF_j8Yqg" id="(0.5136986301369864,0.9811320754716981)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Inn9IRg3Eeu2RZCF_j8Yqg" id="(0.5573770491803278,0.7735849056603774)"/>
    </edges>
    <edges xmi:id="_PcC3QBg3Eeu2RZCF_j8Yqg" type="Transition" element="_PcCQMBg3Eeu2RZCF_j8Yqg" source="_Le3QABg3Eeu2RZCF_j8Yqg" target="_L8Y5gBg3Eeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_PcDeURg3Eeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PcDeUhg3Eeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PcDeUxg3Eeu2RZCF_j8Yqg" x="10" y="71"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PcC3QRg3Eeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PcDeUBg3Eeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PcC3Qhg3Eeu2RZCF_j8Yqg" points="[6, 3, -242, -166]$[144, 3, -104, -166]$[144, 131, -104, -38]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PcFTgBg3Eeu2RZCF_j8Yqg" id="(0.7777777777777778,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_Q6WcwBhBEeu2RZCF_j8Yqg" type="Transition" element="_Q6VOoBhBEeu2RZCF_j8Yqg" source="_EYgRUBg3Eeu2RZCF_j8Yqg" target="_K1IyABhBEeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q6WcxBhBEeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q6WcxRhBEeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q6WcxhhBEeu2RZCF_j8Yqg" x="21" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q6WcwRhBEeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q6WcwxhBEeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q6WcwhhBEeu2RZCF_j8Yqg" points="[-6, 15, 173, 24]$[-88, 15, 91, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q6ZgEBhBEeu2RZCF_j8Yqg" id="(0.0410958904109589,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q6ZgERhBEeu2RZCF_j8Yqg" id="(0.3767123287671233,0.018867924528301886)"/>
    </edges>
    <edges xmi:id="_Skj70BhBEeu2RZCF_j8Yqg" type="Transition" element="_SkitsBhBEeu2RZCF_j8Yqg" source="_K1IyABhBEeu2RZCF_j8Yqg" target="_NmvW8BhBEeu2RZCF_j8Yqg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Skki4BhBEeu2RZCF_j8Yqg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Skki4RhBEeu2RZCF_j8Yqg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Skki4hhBEeu2RZCF_j8Yqg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Skj70RhBEeu2RZCF_j8Yqg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Skj70xhBEeu2RZCF_j8Yqg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Skj70hhBEeu2RZCF_j8Yqg" points="[0, 27, 0, -91]$[-5, 106, -5, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Skm_IBhBEeu2RZCF_j8Yqg" id="(0.4589041095890411,0.22641509433962265)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
